/* DEFAULT */
html{
  scroll-behavior: smooth;
}

.title {
  position: relative;
  margin: 0 0 40px;
  width: fit-content;
}

.title span{
  color: var(--bs-primary);
}

.title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 55px;
  width: 50%;
  height: 4px;
  background: var(--bs-primary);
}


/* NAVIGATION */

#navbar.bg-primary ul li a, #navbar.bg-primary .navbar-brand {
  color: var(--bs-light) !important;
}

#navbar .nav-link{
  position: relative;
  width: fit-content;
  transition: transform .3s ease-in-out;
}

#navbar ul{
  gap: 40px;
}

#navbar .nav-link::before {
  content: "";
  position: absolute;
  top: 45px;
  height: 5px;
  width: 100%;
  background: var(--bs-light);
  transform-origin: bottom;
  transform: scaleY(0);
   transition: transform .3s ease-in-out;
}

#navbar .nav-link.active::before{
  transform: scaleX(1);
}

#navbar .nav-link.non-stick.active::before{
  background: var(--bs-primary) !important;
}

#navbar .nav-link:hover::before{
  transform-origin: bottom;
  transform: scaleY(1);
}

/* BANNER */
#banner{ 
    position: relative;
}

#banner .container {
  padding: 150px 0 70px;
}

#banner .bnr-info-img figure {
  overflow:hidden;
  aspect-ratio:1/1;
  position:relative;
  z-index:1;
  border-radius:50%
}

#banner .bnr-info-img{
    position: relative;
}

#banner .bnr-info-img::before {
  content:url(../images/blob1.png);
  position:absolute;
  top:-143px;
  left:-120px;
  z-index:-1
}

#banner figure img {
    width: 100%;
    aspect-ratio: 1/1;
}

.bnr-info {
    max-width: 700px;
}


/* BOTTTOM */
#bottom{
  overflow: hidden;
}
#bottom .container {
  padding: 50px 0;
}

#bottom .btm1_cont{
  position: relative;
  z-index: 1;
}

#bottom .btm1_cont::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -50%;
  top: 0;
  background: var(--bs-primary);
  z-index: -1;
}

#bottom .btm1_cont .title{ 
  color: var(--bs-light);
}

#bottom .btm1_cont .title span{
  color: var(--bs-light);
}

#bottom .btm1_cont .title::before{
  background: var(--bs-light);
}

#bottom .btm1_cont .btm1_boxes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.btm1_boxes section{
  width: 100%;
}

#bottom .btm1_cont .card{
    position: relative;
    height: 400px;
}

#bottom .btm1_cont figure{
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
}

#bottom .btm1_cont a{
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: box-shadow .3s ease-in-out;
}

#bottom .btm1_cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#bottom .btm1_cont a:hover{
    box-shadow: 10px 0px 10px rgba(0,0,0,0.2);
}

.btm2_boxes section{
  margin: 0 0 20px;
}
.btm2_boxes section:last-child{
  margin: 0;
}

.btm2_boxes section .bar {
  width: 100%;
  height: 20px;
  background: #dfdfdf;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  z-index: -1;
}

.btm2_boxes section .bar::before {
  content: "80%";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bs-primary);
  z-index: 1;
  border-radius: inherit;
  padding: 0 20px 20px;
  color: var(--bs-light);
  transition: width .5s ease-in-out;
}

.btm2_boxes section:nth-child(1) .bar::before{
  content: "100%";
}

.btm2_cont.animate section .bar::before{
  animation-name: skill1Percentage;
  animation-duration: 2s;
}

.btm2_cont.animate section:nth-child(2) .bar::before{
  width: 80%;
  content: "80%";
  animation-name: skill2Percentage;
  animation-duration: 2s;
}

.btm2_cont.animate section:nth-child(3) .bar::before{
  width: 50%;
  content: "50%";
  animation-name: skill3Percentage;
  animation-duration: 2s;
}


@keyframes skill1Percentage{
  0%{
    width: 0;
  }

  100%{
    width: 100%;
  }
}

@keyframes skill2Percentage{
  0%{
    width: 0;
  }

  100%{
    width: 80%;
  }
}

@keyframes skill3Percentage{
  0%{
    width: 0;
  }

  100%{
    width: 50%;
  }
}


#bottom .btm3_cont{
  position: relative;
  z-index: 1;
}

#bottom .btm3_cont::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: -50%;
  top: 0;
  background: var(--bs-primary);
  z-index: -1;
}

#bottom .btm3_cont .title::before{
  left: 50%;
  transform: translateX(-50%);
  background: var(--bs-dark);
}

#bottom .btm3_cont .title{ 
  margin: 0 auto;
}

.btm3_boxes .card figure {
  width: 80px;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
.btm3_boxes .card figure img {
  width: 100%;
  aspect-ratio: 1/1;
}

.btm3_boxes .card {
  min-height: 450px;
}

/* FOOTER */
footer{
  background: #ebe9e9;
}

footer .navbar {
  margin: 72px 0;
}

footer ul{
  gap: 30px;
}